<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pemrograman_android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoupn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoupn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pemrograman_android.FakultasDetailActivity"
            android:label="Detail Fakultas"
            android:parentActivityName="com.example.pemrograman_android.MainActivity"></activity>
        <activity
            android:name="com.example.pemrograman_android.FakultasWeb"
            android:label="Web Fakultas"
            android:parentActivityName="com.example.pemrograman_android.FakultasDetailActivity"></activity>
    </application>

    <!--Untuk izin internet dan untuk perbaikan ERR_CACHE_MISS-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>